<!DOCTYPE html>
<html>

<body>
    <section>
        <h2>Welcome in this little Pocket of Secrets!</h2>
        <table class="table table-hover">
            <thead>
                <th>Who</th>
                <th>About</th>
                <th>Message</th>
                <th>Scary Value</th>
                <th>Edit</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in data.secrets" data-ng-click="selectRow($index)" data-ng-class="{'active': selectedRowIndex === $index}">
                    <td>{{item.who}}</td>
                    <td>{{item.about}}</td>
                    <td>{{item.message}}</td>
                    <td>{{item.scaryValue}}</td>
                    <td>
                        <button data-ng-disabled="selectedRowIndex + 1 !== item.id" data-ng-click="edit()" class="btn btn-default">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-default" data-ng-click="add()">Add new secret</button>
    </section>
</body>

</html>
